
$color-accent: #e70032 !default
$color-text: #000000 !default
$color-text-alt: #454545 !default
$color-border: rgba(0, 0, 0, 0.30) !default
$color-background-alt: #F2F2F2 !default
$color-background: #FFFFFF !default

$body-font-family:  "Milligram Text", sans-serif
$heading-font-family: "Caliste", serif

$heading-font-weight: normal
$h1-size: px2rem(50)
$h1-size-desktop: px2rem(100)
$h1-weight: normal
$h2-font-family: $body-font-family
$h2-weight: bold
$h3-font-family: $body-font-family
$h3-weight: bold
$meta-font-family: $body-font-family
$lead-font-family: $body-font-family
$quote-size: px2rem(32)
$quote-style: normal

$header-background: transparent
$header-sticky-background: transparent
$header-border-bottom-width: 0
$footer-background-color: transparent
$hero-background-color: none

$quote-font-family: $heading-font-family
$quote-size-desktop-short: px2rem(70)
$quote-size-desktop-long: px2rem(50)

