body
    font-variant-ligatures: discretionary-ligatures

header#document-header
    nav 
        padding-top: $spacing-3
        @include media-breakpoint-up(desktop)
            padding-top: $spacing-5
        .pagefind-ui__toggle.toggle-icon::after
            padding-top: 5px

.siblings-navigation
    @include in-page-with-sidebar
        padding-left: offset(4)
        margin-top: $spacing-6

.post .media img
    aspect-ratio: 1.5

.block-posts
    [itemprop="articleBody"]
        font-family: $heading-font-family
    &--list article:last-of-type
        border-bottom: none

.author-after-post
    .author
        position: relative
        margin-top: $spacing-4
        @include in-page-with-sidebar
            margin-top: $spacing-6
            padding-left: offset(4)
        &__about
            @include h5
        &__name
            a
                text-decoration: none
        &__information
            position: relative
            margin-top: $spacing-3
        &__biography
            @include small
            @include in-page-with-sidebar
                max-width: columns(6)
        &__photo
            width: 100px
            height: 100px
            margin-bottom: $spacing-3
            @include in-page-with-sidebar
                position: absolute
                left: -140px

@include media-breakpoint-down(desktop)
    .hero
        padding-bottom: 0
        .content
            figure 
                figcaption
                    &::before
                        content: ""  
    .post-infos
        margin-bottom: $spacing-4
        > li
            margin-top: 0
    .page__home,
    .posts__page,
    .posts_categories__term
        h1
            font-size: pxToRem(50)

@include media-breakpoint-up(desktop)
    .page__home,
    .posts__page,
    .posts_categories__term
        .hero
            .content
                .hero-text
                    width: 100%
                    h1,
                    hgroup
                        margin-top: 0
                    hgroup
                        padding-bottom: $spacing-4
                        &.has-lead > p
                            margin-left: auto
                            margin-right: auto
                            text-align: center
                            width: columns(8)
                    h1
                        width: 100%
                        font-size: pxToRem(100)
                        text-align: center
                        padding-bottom: $spacing-5
            &--with-image 
                .content 
                    display: block
                    .hero-text
                        h1, 
                        hgroup
                            width: 100%
                figure
                    margin: $spacing-7 auto
                    figcaption
                        p,
                        &::before
                            font-family: $body-font-family
                            font-style: roman
    .page__home
        .hero
            .content
                .hero-text
                    width: columns(8)
                    margin-left: auto
                    margin-right: auto
    .persons__page
        .hero
            .content
                display: block
                h1
                    width: 100%
                .avatar
                    margin: $spacing-5 auto 0
    body:not(.full-width)
        .document-content 
            .block-testimonials 
                .block-content
                    padding-left: 0
    .siblings-navigation
        border: none
