header#document-header nav 
    padding-top: 0
    .container
        justify-content: center
        button
            display: none
h1
    text-align: center

@include media-breakpoint-up(desktop)
    .hero .content > h1, 
    .hero .content > hgroup
        margin-left: auto
        margin-right: auto
    .hero--with-image .content > h1, 
    .hero--with-image .content > hgroup
        width: 100%
    .hero--with-image .content
        display: block
        figure
            margin: $spacing5 auto
    .hero .content figure figcaption
        p,
        &::before
            font-family: $body-font-family
            font-style: roman

.breadcrumb-container
    display: none