.watch_posts
    &__section
        .hero
            margin-bottom: 0
        h2
            margin-bottom: $spacing-2
        .item
            @include grid(2, lg)
            position: relative
            padding-bottom: $spacing-4
            margin-bottom: $spacing-4
            border-bottom: $color-border 1px solid
            a 
                @include stretched-link
    &__page
        .hero
            margin-bottom: 0
            padding-bottom: 0
            min-height: auto
            h1
                font-family: $body-font-family
                font-weight: bold
                @include media-breakpoint-up(desktop)
                    font-size: pxToRem(40)
            .hero-text
                margin-bottom: $spacing-4
        .document-content
            .item-meta
                padding-bottom: $spacing-4
            .item-content
                padding-left: offset(4)
            .item-source,
            .item-date
                @include meta
                display: inline-block

            .item-source
                &::before
                    content: ' — '