<div class="author-after-post">
  <div class="container">
    <div class="author">
        <p class="author__about">Ce site est produit par</p>
        <div class="author__information">
          {{ with site.GetPage "/persons/arnaud-levy" }}
            <div class="author__photo avatar">
              {{- partial "commons/image.html"
              (dict
              "image"    .Params.image
              "alt"      .Title
              "sizes"    site.Params.image_sizes.blocks.testimonials
              ) -}}
            </div>
            <div class="author__text">
              <p class="author__name">
                <a href="{{ .Permalink }}">
                  {{ .Title }}
                </a>
              </p>
              <p class="author__biography">{{ .Params.summary }}</p>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>